body {
    background: linear-gradient(to right, #E6030A, #440f0f, #FF0000);
}

h1 {
    color:azure;
    font-size: 30px;
    text-align:center;
    text-transform: uppercase;
}

.primeiro-paragrafo{
    font-size: 20px;
    color: azure;
}
